<div class="menu-btn"><span class="fas fa-bars"></span></div>
<nav class="sidebar">
    <ul class="main_side">
        <li>
            <a href="/ListeEmprunt">Retour à la page d'accueil</a>
        </li>
    </ul>
</nav>
<div class="topnav">
    <div id="background">
        <img src="images/logoGrasset.jpg" alt="Logo_page" title="Accueil" id="logo" width="55"height="55" />
        <li><a href="/disconnect">Déconnecter</a></li>
    </div>
</div>