<div class="menu-btn"><span class="fas fa-bars"></span></div>
<nav class="sidebar">
    <ul class="main_side">
        <li>
            <a href="/ListeEmprunt">Accueil</a>
        </li>
        <li>
            <a href="/ListeEmprunt">Emprunts</a
            >
        </li>
        <li>
            <a href="/ListeEtudiant">Étudiants</a>
        </li>
        <li>
            <a href="/ListeProfesseur">Professeurs</a>
        </li>
        <li>
            <a href="/ListeAdmin">Administrateurs</a>
        </li>
        <li>
            <a href="/inscriptionadmin">Inscription d'administrateur</a>
        </li>
        <li>
            <a href="/ListeEquipement">Équipements</a>
        </li>
        <li>
            <a href="/AjoutEquipement">Ajout d'équipement</a>
        </li>
        <li>
            <a href="/ListeProgrammes">Liste des Programmes</a>
        </li>
        <li>
            <a href="/programme">Ajout de programme</a>
        </li>
        <li>
            <a href="/ListeType">Liste des types d'équipements</a>
        </li>
        <li>
            <a href="/typeObjet">Ajout de types d'équipement</a>
        </li>
    </ul>
</nav>
<div class="topnav">
    <div id="background">
        <img src="images/logoGrasset.jpg" alt="Logo_page" title="Accueil" id="logo" width="55"height="55" />
        <li><a href="/disconnect">Déconnecter</a></li>
    </div>
</div>