<meta charset="utf-8" />
<title><%= title %></title>
<link rel="stylesheet" href="css/reset.css" />
<link rel="stylesheet" href="css/mt.css" />
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
<link rel="stylesheet" href="css/main.css" />
<script src="js/bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://use.fontawesome.com/bafd6751ea.js"></script>
<script src="js/menu.js"></script>

