<!DOCTYPE html>

<html>
<head>
    <%- include('./partials/head'); %>
</head>
<body>
<%- include('./partials/header'); %>
<div class="container" style="display: flex; flex-direction: column">
    <h1>Système de comptoir prêt</h1>
    <h2>Ajouter un type d'équipement</h2>
    <form action="clData" method="post" >
        <div class="mb-3 row">
            <label for="visitorsn" class="col-sm-3 col-form-label">Nom du type d'équipement:</label>
           <div class="col-sm-5">
                <input class="form-control" type="text" name="programmeAjouter" size="30" maxlength="500" placeholder="Nom"/>
           </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <input type="submit" class="btn btn-primary" value="Sauvegarder"/>
            </div>
        </div>
      
    </form>
</div>
</body>
</html>
