<!DOCTYPE html>

<html>
  <head>
    <%- include('./partials/head'); %>
  </head>

  <body>
    <%- include('./partials/header_defaut'); %>
    <div class="container">
      <h2>La connection à la base do donée à échouer. Veuillez essayer de vous conncter plus tard.</h2>
    </div>
  </body>
</html>
