<!DOCTYPE html>

<html>
<head>
    <%- include('./partials/head'); %>
</head>
<body>

  <%- include('./partials/header_defaut'); %>

    <div class="container">
        <h1>Les changements ont été enregistrés avec succès.</h1>
        
           
    </div>
</body>

</html>