<!DOCTYPE html>

<html>
  <head>
    <%- include('./partials/head'); %>
  </head>

  <body>
    <%- include('./partials/header_defaut'); %>
    <div class="container">
      <h2>L'étudiant que vous avez tenté de supprimer a des emprunts qui sont en cours. <br>
      Pour le supprimer, veuillez demander à un administrateur.</h2>
    </div>
  </body>
</html>
