<!DOCTYPE html>

<html>
  <head>
    <%- include('./partials/head'); %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"
          ><img
            src="/images/logoGrasset.jpg"
            alt="logo"
            width="60"
            height="60"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ListeEmprunt">Retour à la page d'accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/disconnect">Déconnecter</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <h2>Une erreur est survenu lorsque nous avons tenté de faire l'opération. <br>
         Veuillez vous assurer que vous n'avez pas laisser d'espace vide si vous 
         êtes en train de remplir un formulaire.
         <br><br>
         Si vous êtes en train de tenter de supprimer un élément, (comme un étudiant ou un programme),
         veuillez vous assurer que cet élément n'est pas en train d'être utiliser par d'autres éléments.

        
        </h2>
    </div>
  </body>
</html>
