<!DOCTYPE html>

<html>

<head>
  <%- include('./partials/head'); %>
</head>

<%- include('./partials/header_etudiant'); %>

  <body>
    <div class="container">
      <h1>Comptoir de prêt</h1>
      <h2>Page d'accueil</h2>
      <%- include('./partials/listeEmprunt', {permission: permission, emprunts: emprunts }); %>
    </div>

  </body>

</html>